:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
  --btn-blue-hover: #71c0d4;
  --btn-purple-hover: #b18bdd;
}

nav {
  width: 100%;
  text-align: center;
  padding-top: 8rem;
}

.s-hero {
  padding-top: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12.8rem;
}

.s-hero .info {
  text-align: center;
  max-width: 44.8rem;
}

.info-768 {
  display: none;
}

.s-hero .info h1 {
  margin-bottom: 3.2rem;
}

.s-hero .info p {
  margin-bottom: 3.2rem;
}

.s-content {
  width: 100%;
  padding-top: 8.8rem;
}

.s-content .cards {
  display: flex;
  gap: 3.2rem;
  padding-top: 6.4rem;
}

.s-content .info {
  max-width: 54.4rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 6.4rem;
}

.s-content .info h3 {
  padding-bottom: 1.6rem;
}

.s-content .info h2 {
  padding-bottom: 3.2rem;
  max-width: 44.5rem;
  margin: 0 auto;
}

.footer {
  padding-top: 7.2rem;
}

.footer .footer-cta {
  margin-top: -3rem;
  background-image: url(../assets/img-footer.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.footer-cta .title-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 11.2rem 0;
}

.footer-cta .title-footer h2 {
  color: var(--white);
  max-width: 44.5rem;
}

.footer-cta .title-footer p {
  color: var(--white);
  max-width: 35.5rem;
}

@media (max-width: 1200px) {
  .s-hero {
    gap: 5rem;
  }
  .s-hero .info {
    max-width: 40.7rem;
  }
  .s-hero .info h1 {
    font-size: 4rem;
  }
  .s-hero .info p {
    font-size: 1.6rem;
  }
  .s-content .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-cta .title-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .footer-cta .title-footer h2 {
    max-width: 55.4rem;
    padding-bottom: 2.4rem;
  }
  .footer-cta .title-footer p {
    max-width: 56.5rem;
    padding-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .s-hero .info {
    max-width: 33.7rem;
  }
  .s-hero .info h1 {
    font-size: 2.8rem;
  }
  .s-hero .info p {
    font-size: 1.4rem;
    max-width: 25rem;
    margin: 0 auto;
    padding-bottom: 2.4rem;
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
}

@media (max-width: 768px) {
  .s-hero .info {
    display: none;
  }
  .info-768 {
    width: 100%;
    max-width: 44.8rem;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .info-768 h1 {
    font-size: 4.8rem;
    padding: 7.2rem 0 2.4rem 0;
  }
  .info-768 p {
    font-size: 1.6rem;
    padding-bottom: 2.4rem;
  }
  .s-content .info {
    max-width: 50.4rem;
    margin: 0 auto;
  }
  .s-content .info h3 {
    font-size: 1.4rem;
  }
  .s-content .info h2 {
    font-size: 3.6rem;
  }
  .s-content .info p {
    font-size: 1.6rem;
  }
}

@media (max-width: 560px) {
  .info-768 {
    max-width: 30.5rem;
  }
  .info-768 h1 {
    font-size: 4rem;
  }
  .s-content .info h3 {
    font-size: 1.2rem;
  }
  .s-content .info h2 {
    font-size: 3.2rem;
  }
  .footer-cta .title-footer h2 {
    font-size: 3.2rem;
  }
  .footer-cta .title-footer p {
    font-size: 1.6rem;
  }
}
