:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--white);
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", serif;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 37.5rem;
  margin: 0 auto;
  /* padding: 0 1.5rem; */
}

.container .logo {
  padding: 4.8rem 0 6.4rem 0;
  text-align: center;
}

.s-hero {
  /* display: flex;
  flex-direction: column; */
}

.s-hero .image-hero {
  margin: 0 auto;
}

.s-hero .text-hero {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 7.2rem;
  max-width: 27.5rem;
}

.s-hero .text-hero h1 {
  color: var(--slate-900);
  font-size: 4rem;
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 2.4rem;
}

.s-hero .text-hero p {
  color: var(--slate-600);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 2.4rem;
}

.s-hero .text-hero .buttons .btn {
  padding: 1.6rem 4rem;
  border-radius: 2.9rem;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 150%;
}

.s-hero .text-hero .buttons .btn span {
  color: var(--color-cyan-300, #8fe3f9);
}

.s-hero .text-hero .buttons .btn.blue {
  background-color: var(--cyan-600);
  margin-bottom: 1.6rem;
}

.s-hero .text-hero .buttons .btn.purple {
  background-color: var(--purple-600);
}

.s-content .number {
  margin: 6.4rem 0 6.4rem 0;
}

.s-content .number .line-down {
  margin: 0 auto;
  width: 0.2rem;
  height: 8rem;
  background-color: var(--slate-300);
}

.s-content .number .round-ball {
  margin: 0 auto;
  width: 5.6rem;
  height: 5.6rem;
  border: 0.2rem solid var(--slate-300);
  border-radius: 99.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--slate-600);
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 150%;
}

.s-content .cards {
  width: 100%;
  margin: 0 auto;
}

.s-content .cards .card {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-bottom: 6.4rem;
}

.s-content .smarter-meetings {
  text-align: center;
  max-width: 31.1rem;
  margin: 0 auto;
}

.s-content .smarter-meetings .modern-use {
  color: var(--cyan-600);
  font-size: 12px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.s-content .smarter-meetings h2 {
  color: var(--slate-900);
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 3.2rem;
}

.s-content .smarter-meetings p {
  color: var(--slate-600);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 64px;
}

.footer-cta .number .line-down {
  margin: 0 auto;
  width: 0.2rem;
  height: 8rem;
  background-color: var(--slate-300);
}

.footer-cta .number .round-ball {
  margin: 0 auto;
  width: 5.6rem;
  height: 5.6rem;
  border: 0.2rem solid var(--slate-300);
  border-radius: 99.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--slate-600);
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 150%;
}

.footer .footer-hero {
  position: relative;
  margin-top: -30px;
  padding: 6.4rem ;
  text-align: center;
  background-image: url(./mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.footer .footer-hero h2 {
  /* color: var(--color-white, #fafafa); */
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 2.4rem;
}

.footer .footer-hero p {
  /* color: var(--color-white, #fafafa); */
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 2.4rem;
}

.footer .footer-hero .btn-footer {
  padding: 1.6rem 4rem;
  border-radius: 2.9rem;
  background-color: var(--purple-600);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 150%;
}

.footer .footer-hero .btn-footer span {
  color: var(--purple-300);
}
